p{
    color: rgb(0, 12, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
h1{
    background-color: lightgray;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}