p{
    color: rgb(0, 12, 0);
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 1.5em;
}
h1{
    background-color: lightgray;
    font-size: 2em;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.uniqueness{
    color: cornflowerblue;
}
.blog{
    color: brown;
    background-color: chartreuse;
    border: 5px solid lightgray;
    border-radius: 5px;
    margin: 15px 20px 25px 30px;
    padding-left: 15px;
    padding-top: 20px;
    padding-bottom: 25px;
    padding-right: 30px;
    width: 90%;
    height: auto;
    text-align: justify;
}
.blog-title{
    text-align: center;
    font-size: 2em;
    font-family: 'Times New Roman', Times, serif;
}
img{
    height: auto;
    width: auto;
}

